global-include *.pyx
global-include *.pxd
global-include xinference/**/*.json
global-exclude *.c
global-exclude *.cpp
include setup.cfg
include pyproject.toml
global-exclude .DS_Store
include versioneer.py
include xinference/_version.py
global-exclude conftest.py
include xinference/locale/*.json
include xinference/model/llm/*.json
include xinference/model/embedding/*.json
graft xinference/thirdparty
graft xinference/ui/web/dist
graft frontend
prune frontend/.next
prune frontend/out
prune frontend/node_modules
prune frontend/.npm-cache
prune frontend/.npm-logs
