.container {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 20px;
}
.descriptionCard {
  position: relative;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
}
.iconButtonBox {
  display: flex;
  align-items: center;
}
.drawerCard {
  position: relative;
  padding: 20px 80px 0;
  min-height: 100%;
  width: 60vw;
}
.p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 14px;
  padding: 0px 10px;
}
.pasteText {
  font-size: 18px !important;
  color: #1976d2;
  cursor: pointer;
  margin-inline: 10px;
}
.pasteText:hover {
  color: #1976d2b3;
}
.copyToCommandLine {
  font-size: 16px !important;
  color: #1976d2;
  cursor: pointer;
}
.copyToCommandLine:hover {
  color: #1976d2b3;
}
.formContainer {
  height: 80%;
  overflow: scroll;
  padding: 0 10px;
  padding-bottom: 160px;
}
.buttonsContainer {
  position: absolute;
  bottom: 50px;
  left: 100px;
  right: 100px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.css-1be5mm1-MuiLinearProgress-root-MuiMobileStepper-progress {
  width: 100% !important;
}
.css-r5rjnf-MuiLinearProgress-root-MuiMobileStepper-progress {
  width: 100% !important;
}
.instructionText {
  font-size: 12px;
  color: #666666;
  font-style: italic;
  margin: 30px 0;
  text-align: center;
}
.iconRow {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.boldIconText {
  font-weight: bold;
  font-size: 1.2em;
}
.muiIcon {
  font-size: 1.5em;
}
.smallText {
  font-size: 0.8em;
}
.dialogBox {
  width: 1241px;
  height: 607px;
  margin: 32px;
  overflow-x: scroll;
}
.dialogTitle {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 7px;
}
.dialogTitle-model_name {
  font-size: 18px;
  font-weight: 700;
}
.pathBox {
  width: 160px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pathBox2 {
  width: 300px;
}
.empty {
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: 20px;
  color: #555;
  transform: translate(-50%, 0);
}
.deleteDialog {
  display: flex;
  align-items: center;
}
.warningIcon {
  margin-right: 10px;
  color: rgb(237, 108, 2);
}
.jsonDialog {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  color: #000;
  border-radius: 8px;
}
.jsonDialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px 0;
}
.title-name {
  font-size: 16px;
  font-weight: 700;
}
.main-box {
  width: 700px;
  height: 500px;
}
.but-box {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.drawer {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}
.drawer.open {
  visibility: visible;
  opacity: 1;
}
.drawer-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.drawer-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: translateX(100%);
  overflow-y: auto;
}
.drawer.open .drawer-content {
  transform: translateX(0);
}
.textHighlight .MuiSelect-select {
  color: #1976d2;
}
.textHighlight .MuiInputBase-input {
  color: #1976d2;
}
