funasr==1.2.7
omegaconf~=2.3.0  # For ChatTTS
nemo_text_processing==1.1.0  # 1.1.0 requires pynini==2.1.6.post1
WeTextProcessing<1.0.4.1  # 1.0.4 requires pynini==2.1.6
librosa  # For ChatTTS
ChatTTS>=0.2.1
xxhash  # For ChatTTS
pypinyin  # For F5-TTS
tomli  # For F5-TTS
vocos  # For F5-TTS
librosa  # For F5-TTS
jieba  # For F5-TTS
soundfile  # For F5-TTS & MeloTTS
cached_path  # For MeloTTS
unidic-lite  # For MeloTTS, unidic requires manually download
cn2an  # For MeloTTS
mecab-python3  # For MeloTTS
num2words  # For MeloTTS
pykakasi  # For MeloTTS
fugashi  # For MeloTTS
g2p_en  # For MeloTTS
anyascii  # For MeloTTS
gruut[de,es,fr]  # For MeloTTS
kokoro>=0.7.15  # Kokoro
spacy>3.0.6
misaki[en,ja,zh]>=0.7.15  # Kokoro
en_core_web_trf@https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl  # Kokoro misaki[en]
en_core_web_sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl  # Kokoro misaki[en]
qwen-vl-utils!=0.0.9 # For qwen2-vl
datamodel_code_generator # for minicpm-4B
jsonschema # for minicpm-4B
deepcache # for sd
verovio>=4.3.1  # For got_ocr2
langdetect  # MegaTTS3
pyloudnorm  # MegaTTS3
orjson
imageio-ffmpeg  # For video
loguru  # For Fish Speech
natsort  # For Fish Speech
ormsgpack  # For Fish Speech
cachetools  # For Fish Speech
silero-vad  # For Fish Speech
qwen_omni_utils  # For qwen2.5-omni
json5 # IndexTTS2
munch # IndexTTS2
matplotlib # IndexTTS2
flatten_dict # IndexTTS2
julius # IndexTTS2
tensorboard # IndexTTS2
randomname # IndexTTS2
argbind # IndexTTS2
