uv
transformers==4.52.4
accelerate>=0.28.0
sentencepiece
transformers_stream_generator
bitsandbytes
protobuf
einops
tiktoken>=0.6.0
sentence-transformers>=3.1.0
controlnet_aux
autoawq!=0.2.6  # autoawq 0.2.6 pinned torch to 2.3
optimum
attrdict  # For deepseek VL
timm>=0.9.16  # For deepseek VL
FlagEmbedding  # For rerank
lightning>=2.0.0  # For CosyVoice, matcha
hydra-core>=1.3.2  # For CosyVoice, matcha
inflect  # For CosyVoice, matcha
conformer  # For CosyVoice, matcha
diffusers>=0.32.0  # For CosyVoice, matcha
gdown  # For CosyVoice, matcha
pyarrow  # For CosyVoice, matcha
HyperPyYAML  # For CosyVoice
onnxruntime-gpu>1.16.0; sys_platform == 'linux'  # For CosyVoice
onnxruntime==1.16.0; sys_platform == 'darwin' or sys_platform == 'windows'  # For CosyVoice
pyworld>=0.3.4  # For CosyVoice
boto3>=1.28.55,<1.28.65 # For tensorizer
tensorizer~=2.9.0
eva-decord  # For video in VL
jj-pytorchvideo # For CogVLM2-video
loralib  # For Fish Speech
vector-quantize-pytorch<=1.17.3,>=1.14.24 # For Fish Speech
torchdiffeq  # For F5-TTS
x_transformers>=1.31.14  # For F5-TTS

# sglang
decord
hf_transfer
huggingface_hub
interegular
outlines>=0.0.44,<=0.1.11
packaging
prometheus-client>=0.20.0
psutil
python-multipart
pyzmq>=25.1.2
torchao>=0.7.0
uvloop
xgrammar>=0.1.10
cuda-python
sgl-kernel>=0.0.3.post3,<=0.1.4
IPython
numpy==1.26.4
