# ChatTTS
ChatTTS>=0.2.1
omegaconf~=2.3.0
librosa
xxhash

# CosyVoice, matcha
lightning>=2.0.0
hydra-core>=1.3.2
inflect
conformer
diffusers>=0.32.0
gdown
pyarrow
HyperPyYAML
onnxruntime-gpu==1.16.0; sys_platform == 'linux'
onnxruntime==1.16.0; sys_platform == 'darwin' or sys_platform == 'windows'
pyworld>=0.3.4  # For CosyVoice

# Fish Speech
loralib
silero-vad
vector-quantize-pytorch<=1.17.3,>=1.14.24

# F5-TTS
torchdiffeq
x_transformers>=1.31.14
pypinyin
tomli
vocos
jieba
soundfile

# MeloTTS
cached_path
unidic-lite
cn2an
mecab-python3
num2words
pykakasi
fugashi
g2p_en
anyascii
gruut[de,es,fr]

# Kokoro
kokoro>=0.7.15
misaki[en,ja,zh]>=0.7.15
en_core_web_trf@https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl
en_core_web_sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

# Qwen-VL
qwen-vl-utils!=0.0.9

# Qwen-Omni
qwen_omni_utils

# MiniCPM
datamodel_code_generator
jsonschema

# CogVLM
jj-pytorchvideo

# VLM (general)
eva-decord

# OCR
verovio>=4.3.1

# MegaTTS3
langdetect
pyloudnorm

# Others
funasr<1.1.17
nemo_text_processing<1.1.0  # 1.1.0 requires pynini==2.1.6.post1
WeTextProcessing<1.0.4  # 1.0.4 requires pynini==2.1.6