torch>=2.0.0
torchaudio
sentencepiece
sentence-transformers>=3.1.0
transformers>=4.46.0
transformers_stream_generator
accelerate>=0.28.0
bitsandbytes
tiktoken>=0.6.0
gguf
gptqmodel
autoawq!=0.2.6
optimum
peft
timm
tensorizer~=2.9.0
modelscope>=1.19.0
FlagEmbedding
controlnet_aux
einops
