.. _models_audio_index:

================
Audio Models
================

The following is a list of built-in audio models in Xinference:


.. toctree::
   :maxdepth: 1

  {% for model in models %}
   {{ model.model_name|lower }}
  {% endfor %}