.. _metrics:

==================
Metrics
==================

There are two types of metrics exporters in an Xinferece cluseter:

- Supervisor metrics exporter at `<endpoint>/metrics`, e.g. `http://127.0.0.1:9997/metrics`.
- Worker metrics exporter at each worker node, the exporter host and port can be set by `--metrics-exporter-host` and `--metrics-exporter-port` options in `xinference-local` or `xinference-worker` command.

Supervisor Metrics
^^^^^^^^^^^^^^^^^^


{% for m in supervisor_metrics %}
- **{{ m.name }}** ({{ m.type }}): {{ m.help }}
{% endfor %}


Worker Metrics
^^^^^^^^^^^^^^


{% for m in worker_metrics %}
- **{{ m.name }}** ({{ m.type }}): {{ m.help }}
{% endfor %}
