.. _models_video_index:

================
Video Models
================

The following is a list of built-in video models in Xinference:


.. toctree::
   :maxdepth: 1

  {% for model in models %}
   {{ model.model_name|lower }}
  {% endfor %}